<nav class="navbar navbar-expand-lg" style="background-color:#333333">
  <div>
      <button mat-button style="background-color: #333333;padding:2px"><a style ="color:white" routerLink="AboutMe">About Me</a></button>
      <button mat-button style="background-color: #333333;padding:2px"><a style ="color:white" routerLink="ContactMe">Contact</a></button>
      <button mat-button style="background-color: #333333;padding:2px"><a style ="color:white" routerLink="AllProjects">All Projects</a></button>
      <button mat-button style="background-color: #333333;padding:2px;"><a style ="color:white" routerLink="Blogs">Blogs</a></button>
  </div>
</nav>
<router-outlet></router-outlet>
