<div style="color:white">
<div class="MyIntro" style="padding: 0px;margin-bottom: 15px;box-shadow: 5px 5px 5px #444444;">
    <div style="background-color: #1f1f1f;padding-left: 15px;margin-bottom: 10px;">Accidental Notification App</div>
    <div style="display: flex;padding-left: 5px;">
        <div style="display: inline-block;">
            <div>
                This project was made by group of 4 people.The project makes use of GPS module to detect the location of the nearest hospital from the accidental site 
                and sends important driver details like name, blood group, location of accidental site.
                Use RasberryPI microprocessor to configure the gps module and smtp protocol to send the mail updates.
            </div>
        </div>
    </div>
    <div style="display: flex;padding-left: 5px;">
        <div style="display: inline-block;">
            
        </div>
    </div>
</div>
</div>