.Title{
    font-size: 200%;
    right: 5%;
    position: absolute;
    top:25%
}
.SmallTitle{
    font-size: 100%;
    right: 5%;
    position: absolute;
    top:29%;
    margin-left: 10px;
}
.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

.flexdesign{
    display:flex;
  }

@media(max-width:700px){
    .flexdesign{
      display: inline-block;
    }
  }

 
