<div style="color:white"><img style="height:30%; width:100%" src="../../assets/background.jpg">
    <div class="Title">Professional Portfolio</div>
    <div class="SmallTitle">Check out my Interesting Projects!</div>
<mat-card style="background-color: #1f1f1f;color: white;margin-top: 15px;">
    <a routerLink="/AngularProjects" routerLinkActive="active"><div class="MyIntro" style="padding: 0px;text-decoration: none;margin-bottom: 15px;box-shadow: 5px 5px 5px #444444;color:white">
        <div style="background-color: #1f1f1f;padding-left: 15px;margin-bottom: 10px;">Angular Projects</div>
        <div style="display: flex;padding: 15px;margin:auto;justify-content: center;">
                <img src="../../assets/AngularLogo.png" style="height:200px;width: 500px;">
        </div>
        <div style="display: flex;padding: 15px;margin:auto;justify-content: center;">Click to visit the link</div>
    </div>
    </a>
</mat-card>
<mat-card style="background-color: #1f1f1f;color: white;margin-top: 5px;">
    <a routerLink="/ReactProjects" routerLinkActive="active"><div class="MyIntro" style="padding: 0px;text-decoration: none;margin-bottom: 15px;box-shadow: 5px 5px 5px #444444;color:white">
        <div style="background-color: #1f1f1f;padding-left: 15px;margin-bottom: 10px;">React Projects</div>
        <div style="display: flex;padding: 15px;margin:auto;justify-content: center;">
                <img src="../../assets/ReactLogo.jpg" style="height:200px;width: 500px;">
        </div>
        <div style="display: flex;padding: 15px;margin:auto;justify-content: center;">Click to visit the link</div>
    </div>
    </a>
</mat-card>

<mat-card style="background-color: #1f1f1f;color: white;margin-top: 5px;">
    <a routerLink="/IOTProjects" routerLinkActive="active"><div class="MyIntro" style="padding: 0px;text-decoration: none;margin-bottom: 15px;box-shadow: 5px 5px 5px #444444;color:white">
        <div style="background-color: #1f1f1f;padding-left: 15px;margin-bottom: 10px;;text-decoration: none">IOT Projects</div>
        <div style="display: flex;padding: 15px;margin:auto;justify-content: center;">
                <img src="../../assets/iotLogo.png" style="height:200px;width: 500px;">
        </div>
        <div style="display: flex;padding: 15px;margin:auto;justify-content: center;">Click to visit the link</div>
    </div>
    </a>
</mat-card>

<mat-card style="background-color: #1f1f1f;color: white;margin-top: 5px;">
    <a routerLink="/CppProject" routerLinkActive="active"><div class="MyIntro" style="padding: 0px;text-decoration: none;margin-bottom: 15px;box-shadow: 5px 5px 5px #444444;color:white">
        <div style="background-color: #1f1f1f;padding-left: 15px;margin-bottom: 10px;;text-decoration: none">C++ Projects</div>
        <div style="display: flex;padding: 15px;margin:auto;justify-content: center;">
                <img src="../../assets/CppLogo.png" style="height:200px;width: 500px;">
        </div>
        <div style="display: flex;padding: 15px;margin:auto;justify-content: center;">Click to visit the link</div>
    </div>
    </a>
</mat-card>
<div style="background-color: #333333;width: auto;height: 200px">
    <div style="margin-top: 25px;">
        <hr />
    </div>
    <pre> Address : B100 , Monarch Serenity,
           Thanisandra Main Road,
           Bangalore -560077,
           Karnataka
</pre>
    <pre> Links :  <a style="color: white;" href="http://www.linkedin.com/in/pranay-kumar-1a247b147"><img style="width: 20px;height:20px;border-radius: 10%;" src="../../assets/LinkedInLogo.png"></a> <a style="color: white;" href="https://www.facebook.com/pranay.kumar.1253"><img style="width: 20px;height:20px;border-radius: 10%;" src="../../assets/FacebookLogo.png"></a> <a style="color: white;" href="https://www.instagram.com/pranay_07/"><img style="width: 20px;height:20px;border-radius: 10%;" src="../../assets/InstagramLogo.jpg"></a>
</pre>
</div>