<div style="color:white"><img style="width:100%" class="Background" src="../../assets/background.jpg">
<div class="Title">Lets Connect</div>
<div class="SmallTitle">Want to get in touch? I'd love to hear from you!</div>
<div
  style="display:flex;text-align: center;justify-content: center; font-size: 250%;font-weight: 300;margin-top: 15px;padding:25px;padding-top:0px">
  Contact Me</div>
<div style="margin:auto;width:70%;background-color: #333333;margin-top: 10px;box-shadow: 5px 5px 5px #444444;">

  <div style="display:flex;text-align: center;justify-content: center;">
    <mat-form-field appearance="outline" color="black"
      style="background-color:#333333;margin-left:5px;margin-top: 10px;width:50vw;">
      <mat-label style="color:white">First Name</mat-label>
      <input #firstNameFormControl matInput placeholder="Your First Name" color="green" required >
    </mat-form-field>
  </div>
  <div style="display:flex;text-align: center;justify-content: center;">
    <mat-form-field appearance="outline" style="background-color:#333333;margin-left:5px;width:50vw;">
      <mat-label style="color:white">LastName</mat-label>
      <input #secondNameFormControl matInput placeholder="Your Last Name" required >
    </mat-form-field>
  </div>
  <div style="display:flex;text-align: center;justify-content: center;">
    <mat-form-field appearance="outline" color="accent" style="background-color:#333333;margin-left:5px;width:50vw;">
      <mat-label style="color:white;"> Email</mat-label>
      <input matInput placeholder="Your Email Here" required #emailFormControl>
    </mat-form-field>
  </div>
  <div style="display:flex;text-align: center;justify-content: center;">
    <mat-form-field appearance="outline" color="accent" style="background-color:#333333;margin-left:5px;margin-bottom: 0px;width:50vw;">
      <mat-label style="color:white;"> Phone number</mat-label>
      <input #contactFormControl matInput placeholder="Your Phone number" required>
    </mat-form-field>
  </div>
  <div style="display:flex;text-align: center;justify-content: center;">
    <mat-form-field appearance="legacy" color="accent"
      style="background-color:#333333;margin-left:5px;margin-bottom: 15px;width:50vw;">
      <mat-label style="color:white">Subject</mat-label>
      <input matInput placeholder="Send the message" #subjectFormControl>
      <mat-label style="color:white"></mat-label>
    </mat-form-field>
  </div>
  <div style="display: flex;justify-content: center;margin-bottom: 15px;padding: 5px;">
    <button (click)="sendMail()" style="background-color: #1f1f1f;color:white;margin-top: 10px;box-shadow: 5px 5px 5px #444444;" mat-button>Send</button>
  </div>
</div>

<div style="background-color: #333333;width: auto;height: 200px">
  <div style="margin-top: 25px;">
  </div>
  <pre  style="background-color: #333333;color:white;margin-top: 30px;"> Address : B100 , Monarch Serenity,
         Thanisandra Main Road,
         Bangalore -560077,
         Karnataka
  Links :  <a style="color: white;" href="http://www.linkedin.com/in/pranay-kumar-1a247b147"><img style="width: 20px;height:20px;border-radius: 10%;" src="../../assets/LinkedInLogo.png"></a> <a style="color: white;" href="https://www.facebook.com/pranay.kumar.1253"><img style="width: 20px;height:20px;border-radius: 10%;" src="../../assets/FacebookLogo.png"></a> <a style="color: white;" href="https://www.instagram.com/pranay_07/"><img style="width: 20px;height:20px;border-radius: 10%;" src="../../assets/InstagramLogo.jpg"></a>
</pre>
</div>
</div>
