<mat-sidenav-container class="sidenav-container" style="background-color: #1f1f1f;color: white;">
  <mat-sidenav #sidenav (click)="sidenav.close()" style="background-color: #1f1f1f;color: white;" #drawer class="sidenav" fixedInViewport=false [ngClass]="{hidden:!(isHandset$ | async)!.valueOf}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="../../assets/MyImage.jpg" style="width: 45px;height: 45px;border-radius: 50%;margin-right: 5px;">Pranay Kumar</mat-toolbar>
    <hr>
    
    <mat-nav-list style="background-color: #1f1f1f;color:white;margin-bottom: 35px;margin-top: 20px;">
      <a style="color:white;background-color: #333333;width: 100%;padding:2px;margin: 3px;" mat-list-item routerLink="/AboutMe">About Me</a>
      <a style="color:white;background-color: #333333;width: 100%;padding:2px;margin: 3px;" mat-list-item routerLink="/ContactMe">Contact</a>
      <a style="color:white;background-color: #333333;width: 100%;padding:2px;margin: 3px;" mat-list-item routerLink="/AllProjects">Projects</a>
      <a style="color:white;background-color: #333333;width: 100%;padding:2px;margin: 3px;" mat-list-item routerLink="/AllProjects">Blogs</a>
      
    </mat-nav-list>
    <button style="background-color: #333333;width: 100%;padding:2px;margin: 3px;" mat-button><a href="https://github.com/Pranay-07">GitHub</a> </button>
    <button style="background-color: #333333;width: 100%;padding:2px;margin: 3px;" mat-button><a  href="http://www.linkedin.com/in/pranay-kumar-1a247b147">LinkedIn</a> </button>
    <button style="background-color: #333333;width: 100%;padding:2px;margin: 3px;" mat-button><a href="../../assets/My Resume.pdf" download>Download Resume</a> </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #333333;color: white;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Portfolio</span>
      <span class="spacer" style="flex:1 1 auto">
      <a style="margin-left: 25px;font-size: 15px;" href="/AboutMe">AboutMe</a>
      <a style="margin-left: 10px;font-size: 15px;" routerLink="/ContactMe">Contact  </a>
      <a style="margin-left: 10px;font-size: 15px;" routerLink="/AllProjects">All Projects</a>
      <a style="margin-left: 10px;font-size: 15px;" routerLink="/AllProjects">Blogs</a>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
