<div style="color:white"><img style="width:100%" class="Background" src="../../assets/C++Projects.png">
<div class="MyIntro" style="padding: 0px;margin-bottom: 15px;box-shadow: 5px 5px 5px #444444;">
    <div style="background-color: #1f1f1f;padding-left: 15px;margin-bottom: 10px;">Optimized Soting Algorithm </div>
    <div style="display: flex;padding-left: 5px;">
        <div style="display: inline-block;">
            <div id="textdiv">
                The project aimed at optimization of various sorting techniques such as bubble sort,selection sort,merge sort and quick sort.The optimization improved the efficiency in the best case scenario.
                <div><button style="background-color: #1f1f1f;margin:10px" (click)="onClick()">{{buttonText}}</button></div>
               <textarea [hidden]="!this.show" style="background-color: #1f1f1f;height: 600px;width:100%;">
                #include<bits/stdc++.h>
                #include<ctime>
                using namespace std;  
                void swap(int *a,int *b)
                {
                    int t=*a;
                    *a=*b;
                    *b=t;
                }
                void display(int c[],int n1)
                {
                    for(int i=0;i<n1;i++)
                        cout&ltc[i]<<" ";
                    cout<<endl;
                }
                 
                int bubblesort(int a[],int n)
                {
                     int start=clock();
                     double duration;
                 
                 
                    int i,j;
                    for(i=0;i<n;i++)
                        for(j=0;j<n-i-1;j++)
                                if(a[j]>a[j+1])
                                swap(&a[j],&a[j+1]);
                            
                    duration = (double)( clock() - start ) / (double) CLOCKS_PER_SEC*1000;
                    cout<<"time taken by normal bubble sort: "<<duration<<endl;
                    return 0;
                }
                int obubblesort(int a[],int n)
                {
                    int start=clock();
                 
                 
                    int i,j,flag;
                    for(i=0;i<n;i++)
                    {
                        flag=1;
                        for(j=0;j<n-i-1;j++)
                                if(a[j]>a[j+1])
                                swap(&a[j],&a[j+1]),flag=0;
                            if(flag)
                            {
                                int stop=clock();
                                int cal_time=stop-start;
                                cout<<"time taken by optimized bubble sort: "<<(float)cal_time/(1000*CLOCKS_PER_SEC)<<endl;
                                return 0;
                            }
                            else
                            {
                                int stop=clock();
                                int cal_time=stop-start;
                                cout<<"time taken by optimized bubble sort: "<<(float)(cal_time)/(1000*CLOCKS_PER_SEC)<<endl;
                            }
                    }
                    return 0;
                 
                }
                int selsort(int a[],int n)
                {
                    int start=clock();
                     int i, j, min1;
                 
                    for (i = 0; i < n-1; i++)
                       {
                        min1 = i;
                        for (j = i+1; j < n; j++)
                          if (a[j] < a[min1])
                            min1 = j;
                        swap(&a[min1], &a[i]);
                    }
                    int stop=clock();
                    cout<<"flag";
                                double cal_time=stop-start;
                                cout<<"time taken by selection sort: "<<(double)cal_time/(1000*CLOCKS_PER_SEC)<<endl;
                
                
                    return 0;
                }
                int opselsort(int a[],int n)
                {
                    int start=clock();
                    int numsort=0;int min1;
                    for(int i=0;i<n-1;i++)
                    {
                        numsort=i+1;
                        min1=i;
                        for(int j=i+1;j<n;j++)
                        {
                            numsort+=a[j-1]<=a[j];
                            if(a[min1]>a[j])
                                min1=j;
                        }
                        if(numsort==n)
                        {
                            int stop=clock();
                                int cal_time=stop-start;
                                cout<<"time taken by optimized selection sort1: "<<(float)cal_time/(1000*CLOCKS_PER_SEC)<<endl;
                            break;
                        }
                        if(min1!=i)
                            swap(&a[i],&a[min1]);
                
                        
                    }
                   
                    return 0;
                }
                 
                 int insertsort(int a[],int n)
                 {
                    int start=clock();
                   int i,key,j;
                   for (i=1;i<n;i++)
                   {
                       key=a[i];
                       j = i-1;
                       while (j>0 && a[j]>key)
                       {
                           a[j+1]=a[j];
                           j =j-1;
                       }
                       a[j+1]=key;
                   }
                    int stop=clock();
                    int cal_time=stop-start;
                    cout<<"time taken by normal insertion sort: "<<(float)cal_time/(1000*CLOCKS_PER_SEC)<<endl;
                            
                
                    return 0;
                 }
                
                 void oinsertsort(int a[],int n)
                {
                
                }
                
                /*int quicksort(int a[],int n)
                {
                
                    return 0;
                }*/
                int partition (int a[], int low, int high)
                {
                    int pivot = a[high];    
                    int i=(low-1);
                 
                    for (int j=low;j<=high-1;j++)
                    {
                        
                        if (a[j]<=pivot)
                        {
                            i++;    
                            swap(&a[i], &a[j]);
                        }
                    }
                    swap(&a[i+1],&a[high]);
                    return (i+1);
                }
                int partition_r(int a[], int low, int high)
                {
                
                    srand(time(NULL));
                    int random = low + rand() % (high - low);
                    swap(&a[random], &a[high]);
                 
                    return partition(a, low, high);
                }
                
                
                int oquicksort(int a[],int low,int high)
                {
                    if(low<high)
                      {
                        int k= partition_r(a, low, high);
                        oquicksort(a, low, k - 1);
                        oquicksort(a, k + 1, high);
                      }  
                
                    return 0;
                }
                int quicksort(int a[], int low, int high)
                {
                    if (low < high)
                    {
                        
                        int k= partition(a, low, high);
                 
                        
                        quicksort(a, low, k - 1);
                        quicksort(a, k + 1, high);
                    }
                    return 0;
                }
                void merge(int a[],int l,int m,int r)
                {
                    int i,j,k;
                    int n1= m-l +1;
                    int n2=r-m;
                    int L[n1],R[n2];
                 
                    
                    for (i=0;i<n1;i++)
                        L[i]=a[l+i];
                    for (j=0;j<n2;j++)
                        R[j]=a[m+1+j];
                    i = 0; 
                    j = 0; 
                    k = l; 
                    while (i<n1 && j<n2)
                    {
                        if (L[i] <= R[j])
                        {
                            a[k] = L[i];
                            i++;
                        }
                        else
                        {
                            a[k]=R[j];
                            j++;
                        }
                        k++;
                    }
                    while (i < n1)
                    {
                        a[k] = L[i];
                        i++;
                        k++;
                    }
                    while (j<n2)
                    {
                        a[k]=R[j];
                        j++;
                        k++;
                    }
                }
                void mergesort(int a[],int l,int r)
                {
                    if (l<r)
                    {
                        int m=l+(r-l)/2;
                        mergesort(a,l,m);
                        mergesort(a,m+1,r);
                        merge(a,l,m,r);
                    }
                }
                void merge1(int a[],int a1[],int b1[],int count,int high)
                {
                    int i,j,k;
                    i=j=k=0;
                    while(i<count && j< high)
                    {
                      if(a1[i]<b1[j])
                        a[k++]=a1[i++];
                      else
                        a[k++]=b1[j++];
                    }
                while(i<count) a[k++]=a1[i++];
                while(j<high) a[k++]=b1[j++];
                }
                
                
                void omergesort(int a[],int low, int high)
                {
                    if(high>1)
                    {
                        int count =1,i;
                        for(i=0;i<high-1;i++)
                        {
                            if(a[i]<a[i+1])
                                count++;
                
                        }
                        int a1[count], b1[(high-count)];
                        for(i=0;i<count;i++)
                            a1[i]=a[i];
                        for(i=count;i<high;i++)
                            b1[i-count]=a[i];
                        omergesort(a1,low,count);
                        omergesort(b1,count,(high-count));
                
                     merge1(a,a1,b1,count,(high-count));
                
                
                            
                    }
                }
                
                
                int main()
                {
                    int a[100000],b[100000];int n;int start,stop,cal_time;
                 
                    cout<<"Enter the no of elements to be sorted"<<endl;
                    cin>>n;
                    for(int i=0;i<n;i++)
                    {
                        cin>>a[i];
                        b[i]=a[i];
                    }
                    cout<<"---------------------------------------------------------"<<endl;
                    cout<<"enter the algorithm through which you want to sort"<<endl;
                    cout<<"press 1 for bubble sort"<<endl<<"press 2 for selection sort"<<endl<<"press 3 for insertion sort"<<endl;
                    cout<<"press 4 for quicksort"<<endl<<"press 5 for merge sort"<<endl;
                    cout<<"---------------------------------------------------------"<<endl;
                    int ch,ch1;
                    while(1)
                    {
                        cin>>ch;
                        switch(ch)
                        {
                            case 1:cout<<"You have selected bubble sort"<<endl;
                                    cout<<"enter your choice"<<endl;
                                    cout<<"--------------------------------------------------------"<<endl;
                                    cout<<"1.Display the elements of unsorted array"<<endl;
                                    cout<<"2.time taken by normal bubble sort technique"<<endl;
                                    cout<<"3.time taken by optimised bubble sort technique"<<endl;
                                    cout<<"4.Display the elements of sorted array"<<endl;
                                    cout<<"--------------------------------------------------------"<<endl;
                                    cin>>ch1;
                                    switch(ch1)
                                    {
                                        case 1:display(b,n);break;
                                        case 2:bubblesort(a,n); cout<<"press 1 and then 4 to display"<<endl;break;
                                        case 3:obubblesort(a,n); cout<<"press 1 and then 4 to display"<<endl;break;
                                        case 4:display(a,n);
                                        for(int i=0;i<n;i++)
                                                a[i]=b[i];break;
                                        default :break;
                                    }
                                    break;
                 
                            case 2:cout<<"You have selected selection sort"<<endl;
                                    cout<<"enter your choice"<<endl;
                                    cout<<"--------------------------------------------------------"<<endl;
                                    cout<<"1.Display the elements of unsorted array"<<endl;
                                    cout<<"2.time taken by normal selection sort technique"<<endl;
                                    cout<<"3.time taken by optimised selection sort technique"<<endl;
                                    cout<<"4.Display the elements of sorted array"<<endl;
                                    cout<<"--------------------------------------------------------"<<endl;
                                    cin>>ch1;
                                    switch(ch1)
                                    {
                                        case 1:display(b,n);break;
                                        case 2:selsort(a,n);cout<<"press 2 and then 4 to display sorted values"<<endl;break;
                                        case 3:opselsort(a,n);cout<<"press 2 and then 4 to display sorted values"<<endl;break;
                                        case 4:display(a,n);
                                        for(int i=0;i<n;i++)
                                                a[i]=b[i];break;
                                        default :break;
                                    }
                 
                            case 3:cout<<"You have selected insertion sort"<<endl;
                                    cout<<"enter your choice"<<endl;
                                    cout<<"--------------------------------------------------------"<<endl;
                                    cout<<"1.Display the elements of unsorted array"<<endl;
                                    cout<<"2.time taken by normal insertion sort technique"<<endl;
                                    cout<<"3.time taken by optimised insertion sort technique"<<endl;
                                    cout<<"4.Display the elements of sorted array"<<endl;
                                    cout<<"--------------------------------------------------------"<<endl;
                                    cin>>ch1;
                                    switch(ch1)
                                    {
                                        case 1:display(b,n);break;
                                        case 2:insertsort(a,n); cout<<"press 3 and then 4 to display to sorted values"<<endl;break;
                                        case 3:oinsertsort(a,n); cout<<"press 3 and then 4 to display to sorted values"<<endl;break;
                                        case 4:display(a,n);
                                        for(int i=0;i<n;i++)
                                                a[i]=b[i];break;
                                        default :break;
                                    }
                                    break;
                
                            
                             case 4:cout<<"You have selected quicksort sort"<<endl;
                                    cout<<"enter your choice"<<endl;
                                    cout<<"--------------------------------------------------------"<<endl;
                                    cout<<"1.Display the elements of unsorted array"<<endl;
                                    cout<<"2.time taken by normal quick sort technique"<<endl;
                                    cout<<"3.time taken by optimised quick sort technique"<<endl;
                                    cout<<"4.Display the elements of sorted array"<<endl;
                                    cout<<"--------------------------------------------------------"<<endl;
                                    cin>>ch1;
                                    switch(ch1)
                                    {
                                        case 1:display(b,n);break;
                                        case 2:start=clock();quicksort(a,0,n); stop=clock();
                                        cal_time=stop-start;
                                        cout<<"time taken by optimised quick sort: "<<(float)cal_time/(1000*CLOCKS_PER_SEC)<<endl;
                                        cout<<"press 4 and then 5 to display"<<endl;break;
                                        case 3:start=clock();oquicksort(a,0,n);stop=clock();
                                        cal_time=stop-start;
                                        cout<<"time taken by optimised quick sort: "<<(float)cal_time/(1000*CLOCKS_PER_SEC)<<endl;
                                         cout<<"press 4 and then 4 again to display the sorted values"<<endl;break;
                                        case 4:display(a,n);
                                        for(int i=0;i<n;i++)
                                                a[i]=b[i];break;
                                        default :break;
                                    }
                                    break;
                 
                             case 5:cout<<"You have selected mergesort sort"<<endl;
                                    cout<<"enter your choice"<<endl;
                                    cout<<"--------------------------------------------------------"<<endl;
                                    cout<<"1.Display the elements of unsorted array"<<endl;
                                    cout<<"2.time taken by normal mergesort technique"<<endl;
                                    cout<<"3.time taken by optimised mergesort technique"<<endl;
                                    cout<<"4.Display the elements of sorted array"<<endl;
                                    cout<<"--------------------------------------------------------"<<endl;
                                    cin>>ch1;
                                    switch(ch1)
                                    {
                                        case 1:display(b,n);break;
                                        case 2:start=clock();mergesort(a,0,n-1); stop=clock();
                                        cal_time=stop-start;
                                        cout<<"time taken by normal mergesort: "<<(float)cal_time/(1000*CLOCKS_PER_SEC)<<endl;
                                        cout<<"press 5 and then 4 again to display the sorted array"<<endl;break;
                                        case 3:start=clock();omergesort(a,0,n-1);stop=clock();
                                        cal_time=stop-start;
                                        cout<<"time taken by optimised merge sort: "<<(float)cal_time/(1000*CLOCKS_PER_SEC)<<endl;
                                         cout<<"press 4 and then 5 to display the sorted values"<<endl;break;
                                        case 4:display(a,n);
                                        for(int i=0;i<n;i++)
                                                a[i]=b[i];break;
                                        default :break;
                                    }
                                    break;
                 
                            default:goto exit_switch;
                 
                        }
                        exit_switch:cout<<"enter another choice"<<endl;
                    cout<<"--------------------------------------------------------------"<<endl;
                    cout<<"enter the algorithm through which you want to sort"<<endl;
                    cout<<"press 1 for bubble sort"<<endl<<"press 2 for selection sort"<<endl<<"press 3 for insertion sort"<<endl;
                    cout<<"press 4 for quicksort"<<endl<<"press 5 for merge sort"<<endl;
                    cout<<"--------------------------------------------------------------"<<endl;
                    }
                    return 0;
                Attachments area
                </textarea>
            </div>
        </div>
    </div>
    <div style="display: flex;padding-left: 5px;">
        <div style="display: inline-block;">
            
        </div>
    </div>
</div>
</div>