.Title{
    font-size: 200%;
    right: 5%;
    position: absolute;
    top:30%
}
.SmallTitle{
    font-size: 100%;
    right: 5%;
    position: absolute;
    top:33%;
    margin-left: 10px;
}
.MyIntro{
    background-color:  #333333;
    width: 80%;
     height:auto; 
     margin:0 auto;
     margin-top: 10%;
     border-color: #444444;
     border:2px solid #444444;
     padding: 10px;
     
}

img.MyProfile {
    border-radius: 50%;
    width:30%;
    height:30%;
    align-self: centre;
    margin-top: -150px;
    @media only screen and (max-width: 825px) {
            margin-top: -50px;
      }
    
  }
  .mat-list-item{
      color: white;
  }
  div.sticky {
    position: sticky;
  }
  .MyIntro1{
    background-color:  #333333;
    width: 80%;
     height:auto; 
     margin:0 auto;
     margin-top: 10%;
     border-color: #444444;
     border:2px solid #444444;
     padding: 10px;
     box-shadow: 5px 5px 5px #444444;
  }
  